/* reset styling for the web-sede*/
hr{
    display: block;
    height: 1px;
    border: 0;
    border-top:1px solid #cccccc;
    margin: 1em 0;
    padding: 0; 
}
input ,select {
    vertical-align:middle;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*/////////////////// my code////////////7*/

/*body backround*/
body{
    background-color: #0080ff;
}
/*wrapper*/
.wrapper{
    padding-bottom:0px;
    margin: 0 auto;
    background-color:whitesmoke;
    width:1000px;
    
    box-shadow:0px 0px 900px white;
}
/* apply for all*/
* {
    text-decoration: none;
}
/* nav-bar-style-for-desktop*/
header {
    background-color:#111;
    width: 1000px;
    height: 100px;
}
.search-container{
    width: 25%;
    height: 10px;
    float: right;
    margin-top: -65px;    
    }
#nav-bar-fixed{
    width: 100%;
    position: fixed;
    margin-top: 0;
    z-index: 1;
}
.header-brand{
    font-family: 'Times New Roman', Times, serif;
    font-size: 33px;
    font-weight: 700;
    color:#fff;
    text-transform: uppercase;
    display: block;
    margin: 20px 0;
    text-align: left;
    line-height: 30px;
    padding: 0px 20px 0px 40px;
    float: left;

}
#text{
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    color: gray;
}

header nav ul li{
    display: inline-block;
    /* if we dont use float it will creat gap between the links*/
    float: left;
    list-style: none;
    padding: 0 10px;
    height:90px;
}
header nav ul li a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    line-height: 150px;
    
    /* we have to calculate 100px - 60 =40 /2 and
    it give us 20px top and bottom in header nav ul*/
}

header nav ul li a:hover{
    background-color:gray;

}



.dot {
  height: 15px;
  width: 15px;
  margin: 0 auto;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
 
}
.dots-style{
    text-align: center;
    padding-top: 200px;
}
.active {
  background-color: #717171;
}



/* Bottom left text */
.dots-style {
    position: absolute;
    bottom: 100px;
    left: 50%;
}
.photo-slide-show-container{

    padding-top: 90px;
    padding-bottom:200px;
}


/*sub-footer*/
.sub-footer{
    width: 100%;
    height: 100px;
    background-color: #111;
    margin-top: -10px;
    overflow: hidden;
    
}

.sub-brand{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color:#bbb;
    margin: 30px 0;
    text-align: left;
    line-height: 20px;
    padding: 0px 20px 0px 40px;
    float: left;
}
 /*sub-footer- icons*/

.column-sub-footer {
    margin-top: 25px;
    margin-right: 20px;
    float: right;
    width: 5.33%;

}
.column-sub-footer img {
    width: 100%;
    border-radius: 50%;
   

}








/*blocks*/
.blocks{
   margin-top: 0px;
}
.column {
    float: left;
    padding: 10px;
    height: 500px;
}

.left {
  width: 75%;
  background-color: gainsboro;
}

.right {
  width: 21%;
  background-color: lightblue;
}

/* Clear floats after the columns */


#more {
    display: none;
}


.readmore img {
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    width:140px;
    height: 100px;
 

}
#myBtn{
    margin-top: 30px
}
/*page numbers*/
.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 10px 8px;
    text-decoration: none;
}


.right h1{
    margin-left: 20px;
    font-size: 24px;

}
.right a{
   margin-top: 10px;
   text-emphasis-color: red;

}
.right a span{
    color: #0080ff;
}


/*nordic-barista-cup-sp*/
.nordic-barista-cup-sp{
    width: 100%;
    height:1045px;
    background-color: aqua;

}
.nordic-barista-cup-sp img{

        width: 100%;
        height: 528px;
    
}

/*footer section*/

.footer-distributed{
	background-color: #292c2f;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
    padding: 60px 50px;
    height:450px ;
}

.footer-left,
.footer-center,
.footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-left{
	width: 35%;
}


.footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}


/* Footer Center */
.footer-center{
	width: 30%;
}





.footer-center p{
	display: inline-block;
	vertical-align: middle;
	margin:0px;
}

/* .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
} */

/* .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
} */


/* Footer Right */

.footer-right{
	width: 30%;
}

.footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 24px;
	margin-bottom: 15px;
}

.footer-icons{
	margin-top: 20px;
}

.footer-icons a img{
	display: inline-block;
	width: 50px;
	height: 50px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 50%;
	margin-bottom: 5px;
}

.column-NBC {
    float: left;
    width: 28%;
    padding: 3px;
}

/* Clearfix (clear floats) */
.row-NBC::after {
    content: "";
    clear: both;
    display: table;
}
